<ion-header>
  <ion-toolbar>
    <ion-title>Add a new item</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" fullscreen>
  <ion-button
    type="submit"
    expand="block"
    class="font-semibold py-2"
    (click)="onClaimByRef()"
  >
    Type in reference code
  </ion-button>
  <ion-button
    type="submit"
    expand="block"
    class="font-semibold py-2"
    (click)="onClaimByScan()"
  >
    Scan QR code
  </ion-button>
</ion-content>
