<ion-content class="bg-yellow-50" style="--ion-background-color: #ffffff">
  @if (isLoading) {
  <div class="flex items-center justify-center min-h-screen">
    <ion-spinner
      class="max-w-20 max-h-20"
      name="circular"
      color="light"
    ></ion-spinner>
  </div>
  } @else {
  <div class="flex items-center justify-center min-h-screen">
    <div class="w-full max-w-md px-6">
      <!-- Logo Placeholder -->
      <div class="flex justify-center mb-8">
        <img src="../../assets/Hey logo.png" alt="Logo" class="w-24 h-auto" />
      </div>

      <!-- Form Card -->
      <div class="p-8">
        <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
          Sign Up
        </h1>

        <form [formGroup]="signUpFormData" (ngSubmit)="signUpUser()">
          <ion-list class="bg-white">
            <!-- Email Input -->
            <ion-item
              class="mb-4"
              style="
                --background: #d3d3d3;
                --border-radius: 10px;
                --border-color: #fff5e1;
              "
            >
              <ion-input
                class="text-gray-800"
                type="email"
                label="Email"
                placeholder="Enter your email"
                labelPlacement="floating"
                fill="solid"
                clearInput="true"
                required="true"
                formControlName="email"
              ></ion-input>
            </ion-item>

            <!-- First name Input -->
            <ion-item
              class="mb-4"
              style="
                --background: #d3d3d3;
                --border-radius: 10px;
                --border-color: #fff5e1;
              "
            >
              <ion-input
                class="text-gray-800"
                type="text"
                label="First name"
                placeholder="Enter your first name"
                labelPlacement="floating"
                fill="solid"
                clearInput="true"
                required="true"
                formControlName="firstName"
              ></ion-input>
            </ion-item>

            <!-- Last name Input -->
            <ion-item
              class="mb-4"
              style="
                --background: #d3d3d3;
                --border-radius: 10px;
                --border-color: #fff5e1;
              "
            >
              <ion-input
                class="text-gray-800"
                type="text"
                label="Last name"
                placeholder="Enter your last name"
                labelPlacement="floating"
                fill="solid"
                clearInput="true"
                required="true"
                formControlName="lastName"
              ></ion-input>
            </ion-item>

            <!-- Phone number Input -->
            <ion-item
              class="mb-4"
              style="
                --background: #d3d3d3;
                --border-radius: 10px;
                --border-color: #fff5e1;
              "
            >
              <ion-input
                class="text-gray-800"
                type="tel"
                label="Phone number"
                placeholder="Enter your phone number"
                labelPlacement="floating"
                fill="solid"
                clearInput="true"
                required="true"
                formControlName="phoneNumber"
              ></ion-input>
            </ion-item>

            <!-- Password Input -->
            <ion-item
              class="mb-4"
              style="
                --background: #d3d3d3;
                --border-radius: 10px;
                --border-color: #fff5e1;
              "
            >
              <ion-input
                class="text-gray-800"
                type="password"
                label="Password"
                placeholder="Enter your password"
                labelPlacement="floating"
                fill="solid"
                clearInput="true"
                required="true"
                formControlName="password"
              ></ion-input>
            </ion-item>

            <!-- Links -->
            <div class="flex justify-center text-sm text-gray-800 mb-4">
              <a href="#" class="hover:underline">Log In</a>
            </div>

            <!-- Submit Button -->
            <ion-button
              expand="block"
              class="font-semibold py-2"
              color="light"
              type="submit"
            >
              Sign Up
            </ion-button>
          </ion-list>
        </form>
      </div>
    </div>
  </div>
  }
</ion-content>
