<ion-header>
  <ion-toolbar>
    <ion-title>Edit QR Code</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [scrollY]="true" class="ion-padding" fullscreen>
  <form [formGroup]="editQrCodeForm" (ngSubmit)="submitEdit()">
    <ion-item
      class="mb-4"
      style="
        --background: #d3d3d3;
        --border-radius: 10px;
        --border-color: #fff5e1;
      "
    >
      <ion-input
        class="text-gray-800"
        type="text"
        label="Item name"
        labelPlacement="floating"
        fill="solid"
        clearInput="true"
        required="true"
        formControlName="itemName"
      ></ion-input>
    </ion-item>

    <ion-item
      class="mb-4"
      style="
        --background: #d3d3d3;
        --border-radius: 10px;
        --border-color: #fff5e1;
      "
    >
      <ion-input
        class="text-gray-800"
        type="text"
        label="Description"
        placeholder="Provide more details"
        labelPlacement="floating"
        fill="solid"
        clearInput="true"
        required="false"
        formControlName="itemDetails"
      ></ion-input>
    </ion-item>

    <ion-item
      class="mb-4"
      style="
        --background: #d3d3d3;
        --border-radius: 10px;
        --border-color: #fff5e1;
      "
    >
      <ion-select
        label="Category"
        interface="popover"
        label-placement="floating"
        class="text-gray-800"
        clearInput="true"
        formControlName="itemCategoryId"
      >
        @for (itemCat of itemCategories; track itemCat.id) {
        <ion-select-option [value]="itemCat.id">{{
          itemCat.categoryName
        }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-button
      type="submit"
      expand="block"
      class="font-semibold py-2"
      [disabled]="isEditLoading || !editQrCodeForm.valid"
    >
      Save
      <ion-spinner *ngIf="isEditLoading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
