/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

// @import "@ionic/angular/css/palettes/dark.always.css"; 
//  @import "@ionic/angular/css/palettes/dark.class.css"; 
// @import '@ionic/angular/css/palettes/dark.system.css';

body.scanner-active {
  --background: transparent;
  --ion-background-color: transparent;
}
.scanner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Make sure the scanner UI appears on top */
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  z-index: 10000; 
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hide-other-components * {
  visibility: hidden; /* This will hide all the elements in the body */
}

.hide-other-components {
  pointer-events: none; /* Disable interactions with hidden elements */
}

// ion-modal {
//   --height: auto; /* Allows the modal to size based on content */
//   --max-height: 90%; /* Limits the modal to 90% of the screen height */
//   --border-radius: 10px; /* Adds rounded corners */
// }