<ion-content class="bg-white flex my-auto items-center justify-center">
  @if (isLoading) {
  <div class="flex items-center justify-center min-h-screen">
    <ion-spinner
      class="max-w-20 max-h-20"
      name="circular"
      color="light"
    ></ion-spinner>
  </div>
  } @else {

  <div class="flex items-center justify-center min-h-screen">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button id="open-modal" (click)="startScan()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    @if (scannedResult) { @if (!qrCode?.isClaimed) {
    <div class="p-8">
      <h1 class="text-2xl font-bold text-center text-gray-800 mb-6">
        Claim QR code
      </h1>
      <form [formGroup]="claimQrCodeFormData" (ngSubmit)="claimQrCode()">
        <ion-list class="bg-white">
          <!-- Item name Input -->
          <ion-item
            class="mb-4"
            style="
              --background: #d3d3d3;
              --border-radius: 10px;
              --border-color: #fff5e1;
            "
          >
            <ion-input
              class="text-gray-800"
              type="text"
              label="Item name"
              placeholder="Enter a name for your item"
              labelPlacement="floating"
              fill="solid"
              clearInput="true"
              required="true"
              formControlName="itemName"
            ></ion-input>
          </ion-item>

          <!-- Item details Input -->
          <ion-item
            class="mb-4"
            style="
              --background: #d3d3d3;
              --border-radius: 10px;
              --border-color: #fff5e1;
            "
          >
            <ion-input
              class="text-gray-800"
              type="text"
              label="Description"
              placeholder="Provide more details"
              labelPlacement="floating"
              fill="solid"
              clearInput="true"
              required="false"
              formControlName="itemDetails"
            ></ion-input>
          </ion-item>

          <!-- Item category Input -->
          <ion-item
            class="mb-4"
            style="
              --background: #d3d3d3;
              --border-radius: 10px;
              --border-color: #fff5e1;
            "
          >
            <ion-input
              class="text-gray-800"
              type="text"
              label="Category"
              placeholder="Add a category"
              labelPlacement="floating"
              fill="solid"
              clearInput="true"
              required="false"
              formControlName="itemCategory"
            ></ion-input>
          </ion-item>

          <ion-button
            expand="block"
            class="font-semibold py-2"
            color="light"
            type="submit"
          >
            Claim
          </ion-button>
        </ion-list>
      </form>
    </div>
    } @else if (qrCode?.isClaimed) {
    <h1>ALREADY CLAIMED</h1>
    } }
  </div>

  }
</ion-content>
